{% extends 'base.html.twig' %}

{% block title %}Edition de la catégorie "{{ category.label }}"{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% include 'category/backlink.html.twig' %} Edition de la catégorie "{{ category.label }}"</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
