{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1><a href="{{ path('category_index') }}" class="btn btn-light">Retour</a> Edition de la catégorie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
