{% extends 'base.html.twig' %}
{% set titlePage = "Catégories" %}
{% if parent is not null %}
    {% set titlePage = 'Catégories pour "' ~ parent.label ~ '"' %}
{% endif %}
{% block title %}{{ parent() }} - {{ titlePage }} {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ titlePage }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{% include 'common/addLink.html.twig' with {'path': path('category_new'), 'label': 'Ajouter une nouvelle catégorie'} %}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include 'flashMessage/flashMessageBlock.html.twig' with {'colClass':'col-lg-12'} %}
        <table class="table">
            <thead>
                <tr>
                    <th class="w-30">Libellé</th>
                    <th class="w-30">Description</th>
                    <th class="w-20">Photo</th>
                    <th class="w-20">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                {% include 'category/listDetail.html.twig' with {'parent': 0, 'category': category, 'subtree': false } %}
            {% else %}
                <tr>
                    <td colspan="5">Pas de données</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            {% include 'common/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}