{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% include 'category/backlink.html.twig' %} Nouvelle catégorie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('category/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}
