
<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('product_index') }}">Produits <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            {#<a class="nav-link active" href="{{ path('category_index') }}">Catégories</a>#}
            {{ render(controller('AppBundle\\Controller\\CategoryController:menu')) }}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('storage_index') }}">Rangements</a>
        </li>
    </ul>
</div>